<?xml version="1.0"?>
<model>
  <name>A mobile manipulator</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
   <name>Jesse van der Linden</name>
   <email>J.vanderLinden-4@student.tudelft.nl</email>
  </author>
  <description>
    My awesome robot.
  </description>
</model>
